.weatherInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.locationDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.weatherSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherSummaryImg {
  width: 120px;
  height: 90px;
}

.weatherSummaryInfo {
  text-align: end;
}

.weatherConditions {
  display: flex;
  justify-content: space-between;
}

.conditionItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.conditionItem span {
  font-size: 30px;
}

.forecastItems {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
  width: 100%;
}

.forecastItems::-webkit-scrollbar {
  height: 10px;
}

.forecastItems::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 99px;
}

.forecastItems::-webkit-scrollbar-thumb {
  background: rgba(73, 70, 70, 0.5);
  border-radius: 99px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.forecastItems::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 129, 129, 0.5);
  border-radius: 99px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
